In [6]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [5]:
car = pd.read_csv("/content/Cars (1).csv")
car

     HP        MPG  VOL          SP         WT
0    49  53.700681   89  104.185353  28.762059
1    55  50.013401   92  105.461264  30.466833
2    55  50.013401   92  105.461264  30.193597
3    70  45.696322   92  113.461264  30.632114
4    53  50.504232   92  104.461264  29.889149
..  ...        ...  ...         ...        ...
76  322  36.900000   50  169.598513  16.132947
77  238  19.197888  115  150.576579  37.923113
78  263  34.000000   50  151.598513  15.769625
79  295  19.833733  119  167.944460  39.423099
80  236  12.101263  107  139.840817  34.948615

[81 rows x 5 columns]

In [9]:
MPG_car = car['MPG']
# Assuming you have the MPG data stored in a list or numpy array called "mpg_data"
# Calculate the mean and standard deviation of the MPG data
mean_mpg = np.mean(MPG_car)
std_mpg = np.std(MPG_car)

# Case a: P(MPG > 38)
prob_a = 1 - stats.norm.cdf(38, mean_mpg, std_mpg)

# Case b: P(MPG < 40)
prob_b = stats.norm.cdf(40, mean_mpg, std_mpg)

# Case c: P(20 < MPG < 50)
prob_c = stats.norm.cdf(50, mean_mpg, std_mpg) - stats.norm.cdf(20, mean_mpg, std_mpg)

# Print the probabilities
print("Probability (MPG > 38):", prob_a)
print("Probability (MPG < 40):", prob_b)
print("Probability (20 < MPG < 50):", prob_c)

Probability (MPG > 38): 0.3466923853688819
Probability (MPG < 40): 0.7306083416219191
Probability (20 < MPG < 50): 0.9009686820346053

In [10]:
# Perform Shapiro-Wilk test
_, p_value = stats.shapiro(mpg_data)

# Set the significance level
alpha = 0.05

# Check the result
if p_value > alpha:
    print("MPG of Cars follows a normal distribution.")
else:
    print("MPG of Cars does not follow a normal distribution.")

MPG of Cars follows a normal distribution.